.pwdContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  overflow-y: visible;
}

.pwdContainer .ui.labeled.input {
  margin-bottom: 10px;
  max-width: 250px;
} 

.pwdContainer .ui.fluid.input {
  padding: 0 5px 0 0;
}

.pwdActions {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.pwdActions button, input{
  margin: 10px;
}

.pwdFilterSection {
  width: 100%;
}

.pwdTileLayout {
  display: grid;
  width: 100%;
  max-height: 550px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  overflow: auto;

}

.pwdTileContainer {
  display: flex;
  height: max-content;
  flex-direction: column;
  align-items: center;
  border: 1px solid ;
  border-radius: 5px;
}


.pwdTileContainer div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.pwdTileContainer > div:first-child {
  background: #99c0ff;
}

.pwdTileContainer div .pwdContent {

}

